<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #divtisi{
            width: 90.4%;
            font-size: 15px;
            border: solid 1px rgba(0, 0, 0, 0.53);
        }
        .row{
            display:block;
            height: 30px;
            line-height:30px;
            width: 100%;
        }
        .row:hover{
            background-color: #c5c5c5;
        }
    </style>
    <script type="text/javascript" src="js/jquery-3.6.0.js" ></script>
</head>
<body>
<div style="width: 100%" >
    <a href="/tool" style="font-size: 150%">其他工具</a>
</div>
<div align="center">
    <h1 style="margin-top: 150px;font-size: 80px">软件信息查找</h1>
<form action="/subswname" method="post" enctype="multipart/form-data" style="font-size: 150%;">
    <div style=" width: 70%;" align="left">
    <div style="margin-top: 100px">
    <input id="text" type="text"  name="swname" style="text-align:center; font-size:15px; width: 90%;height: 40px;"placeholder="请输入脚本名" autocomplete="off"></input>
    <button type="submit" style="font-size:15px;height: 50px; width: 100px" >查询</button>
    </div>
        <div id="divtisi">
        </div>
    </div>
</form>
</div>
</body>
<script>
    function row() {
        var siying=document.getElementById("key_chasiying").value;
        $.ajax({
            type:"post",
            url:"/chakey",
            data:siying,
            contentType: 'application/json',
            success: function (data1) {
                $("#key_gn_textarea").val(data1);

            }
        });
    }
    $(function() {
        $.ajax({
            type: "post",
            url: "/JBall",
            contentType: 'application/json'
        });
        document.getElementById("divtisi").style.visibility="hidden";
        $("#text").bind('input propertychange', function() {
            var shuru= $("#text").val();
            $.ajax({
                type:"post",
                url:"/chaJB",
                data:shuru,
                contentType: 'application/json',
                success: function (data1) {
                    if ($("#text").val()==""){
                        document.getElementById("divtisi").style.visibility="hidden";
                    }else {
                        var text=data1.split("|");
                        var ss="";
                        oneJB=text[0];
                        for (var i = 0; i <text.length ; i++) {
                            ss+="<p>"+text[i]+"</p>"
                        }
                        document.getElementById("divtisi").style.visibility="visible";
                        document.getElementById("divtisi").innerHTML="";
                        document.getElementById("divtisi").innerHTML=ss;
                    }
                }
            });

        });
    });
    var oneJB="";
    document.onkeydown=function (e) {
        event=event||window.event;
        var currKey=0, e=e||event||window.event;
        currKey = e.keyCode||e.which||e.charCode;
        //检测按下哪个键，作相应处理
        if(currKey == 13){
            if(oneJB.length>2){
                $("#text").val(oneJB);
            }
        }
        else{
            return true;
        }
    };
</script>
</html>