<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FAE工具主页</title>
    <link href="css/meindex.css" type="text/css" rel="stylesheet">
    <link href="css/button.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.6.0.js" ></script>
</head>
<body>
<div style="clear: both;position:relative; ">
    <div style="font-size: 150%;" id="qitadiv" >
        <a onclick="indexshow()">其他工具</a>
    </div>
    <div>
        <span id="timediv"  th:text="${datetime}"></span>
    </div>
</div>
<br><br>
<span >
    <div id="myindexiframe"  style="display: none">
        <p><a href="/toSWtool" target="_top">本地软件</a></p>
        <p><a href="/toYangji" target="_top">样机制作</a></p>
        <p><a href="http://172.168.1.230:8888/toRAWLOGO" target="_top">RTK LOGO</a></p>
        <p><a href="http://172.168.1.230:8888/toRTKpq" target="_top">RTK PQ</a></p>
        <p><a href="http://172.168.1.230:8888/toRTKRemote" target="_top">遥控器</a></p>
        <p><a href="http://172.168.1.230:8888/toPDF" target="_top">彩讯PO单</a></p>
        <p><a href="http://172.168.1.230:8888/test" target="_top">RCA报告</a></p>
        <p><a href="/toupdate" target="_top">检查更新</a></p>
    </div>
</span>
<br><br>
<div id="homediv"  align="center" onmousedown="indexhide()">
<form id="SWform" action="/subswname" method="post" enctype="multipart/form-data" style="font-size: 150%;">
    <div style=" width: 70%;" align="left">
        <h2>软件信息查找</h2>
        <div th:if="${isSelt368}">
            <input type="checkbox" class="checkboxcss"  th:checked="${ischeckbox368}" onclick="checkboxonclick('368configure=')"/>
            <span class="cangtext">
                9255仓库：
            </span>
        <select name="merchantNo" id="368select" class="select_wrap">
            <option th:each="item:${equManager368}"
                th:value="${item}"
                    th:selected="${isSelt368==item}"
                th:text="${item}">
            </option>
        </select>
        <br>
        </div>
        <div th:if="${isSelt9632}">
            <input type="checkbox" class="checkboxcss"  th:checked="${ischeckbox9632}" onclick="checkboxonclick('9632configure=')"/>
            <span class="cangtext">
                9632仓库：
            </span>
        <select name="merchantNo" id="9632select"  class="select_wrap">
            <option th:each="item:${equManager9632}"
                    th:value="${item}"
                    th:selected="${isSelt9632==item}"
                    th:text="${item}">
            </option>
        </select>
        <br>
        </div>
        <div th:if="${isSelt2851}">
            <input type="checkbox" class="checkboxcss"  th:checked="${ischeckbox2851}" onclick="checkboxonclick('2851configure=')"/>
            <span class="cangtext">
               2851仓库：
            </span>
        <select name="merchantNo" id="2851select"  class="select_wrap">
            <option th:each="item:${equManager2851}"
                    th:value="${item}"
                    th:selected="${isSelt2851==item}"
                    th:text="${item}">
            </option>
        </select>
        </div>
        <div th:if="${isSelt2853}" >
            <input type="checkbox" class="checkboxcss"  th:checked="${ischeckbox2853}" onclick="checkboxonclick('2853configure=')"/>
            <span class="cangtext">
                2853仓库：
            </span>
            <select name="merchantNo" id="2853select" class="select_wrap">
                <option th:each="item:${equManager2853}"
                        th:value="${item}"
                        th:selected="${isSelt2853==item}"
                        th:text="${item}">
                </option>
            </select>
        </div>
        <div th:if="${Iscomparison}">
            <input type="button" id="LeftComparedid" style="visibility: hidden;" onclick="LeftCompared()" value="选择输入框内脚本为左边文件进行比较" />
            <input type="button" id="Comparedid" style="visibility: hidden;" onclick="Comparedmethod()" />
        </div>
    <div style="margin-top: 80px">
    <input id="text" type="text"  name="swname" placeholder="请输入脚本信息 用空格隔开" autocomplete="off"/><button id="mysubmit" type="submit" >查询</button>
    </div>
        <div id="divtisi">

        </div>
    </div>
</form>
</div>
</body>
<script>
    var ishide=true;
    function indexhide() {
        ishide=true;
        $("#myindexiframe").hide(500);
    }
    function indexshow() {
        if (ishide){
            ishide=false;
            $("#myindexiframe").show(500);
        }else {
            ishide=true;
            $("#myindexiframe").hide(500);
        }

    }
    function row() {
        var siying=document.getElementById("key_chasiying").value;
        $.ajax({
            type:"post",
            url:"/chakey",
            data:siying,
            contentType: 'application/json',
            success: function (data1) {
                $("#key_gn_textarea").val(data1);

            }
        });
    }
    $(function() {
        $.ajax({
            type: "post",
            url: "/JBall",
            contentType: 'application/json'
        });
        document.getElementById("divtisi").style.visibility="hidden";
        $("#text").bind('input propertychange', function() {
            f();
        });
    });
    var text;
    var leftcompared;
    function LeftCompared() {
        leftcompared=$("#text").val();
        if (leftcompared.length>50){
            document.getElementById("Comparedid").style.visibility="visible";
            document.getElementById("Comparedid").value="输入框内脚本和"+leftcompared.substring(0,20)+"...进行比较";
        }else {

            alert("请输入完整脚本名");
        }
    }


    function Comparedmethod() {
        var  aa=$("#text").val();
        if (aa.length>50){
            $.ajax({
                type: "post",
                url: "/Compared",
                data: leftcompared+" "+aa,
                contentType: 'application/json'
            });
            document.getElementById("Comparedid").style.visibility="hidden";
        }
    }

    function f() {
        var shuru= $("#text").val();
        $.ajax({
            type:"post",
            url:"/chaJB",
            data:shuru,
            contentType: 'application/json',
            success: function (data1) {
                if ($("#text").val()==""){
                    document.getElementById("divtisi").style.visibility="hidden";
                    document.getElementById("LeftComparedid").style.visibility="hidden";
                }else {
                    text=data1.split("|");
                    var ss="";
                    oneJB=text[0];
                    ss+="<table>";
                    for (var i = 0; i <text.length ; i++) {
                        ss+="<tr onclick='openpath("+i+")'><td>"+text[i]+"</td></tr>"
                    }
                    ss+="</table>";
                    document.getElementById("divtisi").style.visibility="visible";
                    document.getElementById("divtisi").innerHTML="";
                    document.getElementById("divtisi").innerHTML=ss;
                }
            }
        });
    }
    function openpath(path) {
        document.getElementById("LeftComparedid").style.visibility="visible";
        $("#text").val(text[path]);
    }
    var oneJB="";
    document.onkeydown=function (e) {
        event=event||window.event;
        var currKey=0, e=e||event||window.event;
        currKey = e.keyCode||e.which||e.charCode;
        //检测按下哪个键，作相应处理
        if(currKey == 13){
            if(oneJB.length>2){
                if ($("#text").val().indexOf(".sh")==-1) {
                    $("#text").val(oneJB);
                }
                document.getElementById("SWform").submit();

            }
        }
        return true;
    };
    //监听库房选择事件
    $("#368select").change(function(){
        //获取选中项的文本值
        var itemText = $("#368select option:selected").text();
        $.ajax({
            type:"post",
            url:"/Changku368",
            data:itemText,
            async: false,
            contentType: 'application/json'
        });
        $.ajax({
            type: "post",
            url: "/JBall",
            async: false,
            contentType: 'application/json',
            success: function () {
                f();
            }
        });

    });
    $("#2851select").change(function(){
        //获取选中项的文本值
        var itemText = $("#2851select option:selected").text();
        $.ajax({
            type:"post",
            url:"/Changku2851",
            data:itemText,
            async: false,
            contentType: 'application/json'
        });
        $.ajax({
            type: "post",
            url: "/JBall",
            async: false,
            contentType: 'application/json',
            success: function () {
                f();
            }
        });
    });

    $("#2853select").change(function(){
        //获取选中项的文本值
        var itemText = $("#2853select option:selected").text();
        $.ajax({
            type:"post",
            url:"/Changku2853",
            data:itemText,
            async: false,
            contentType: 'application/json'
        });
        $.ajax({
            type: "post",
            url: "/JBall",
            async: false,
            contentType: 'application/json',
            success: function () {
                f();
            }
        });
    });

    $("#9632select").change(function(){
        //获取选中项的文本值
        var itemText = $("#9632select option:selected").text();
        $.ajax({
            type:"post",
            url:"/Changku9632",
            data:itemText,
            async: false,
            contentType: 'application/json'
        });
        $.ajax({
            type: "post",
            url: "/JBall",
            async: false,
            contentType: 'application/json',
            success: function () {
                f();
            }
        });
    });
    
    function checkboxonclick(str) {
        $.ajax({
            type:"post",
            url:"/checkboxonclick",
            data:str,
            async: false,
            contentType: 'application/json'
        });

        $.ajax({
            type: "post",
            url: "/JBall",
            async: false,
            contentType: 'application/json',
            success: function () {
                f();
            }
        });
    }
</script>
</html>