<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        #swdiv1{
            float: left;
        }
        #swdiv2{
            float: left;
            margin-left: 20px;
        }
        .tit2{
            margin-left: 30px;
        }
        #swdiv2 td{
            padding-left: 20px;
        }
        #swdiv2 span{
            color: rgba(255, 44, 44, 0.64);
        }

    </style>
    <link href="css/button.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.6.0.js" ></script>
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<body onload="myFunction()" style="width: 500%;">
<div style="width: 100%">
    <a href="/" style="font-size: 150%">主页</a>
    <a onclick="Refresh()" href="#" style="font-size: 100%">按(Ctrl+Alt+Z)刷新页面</a>
</div>
<div style="margin-left: 20px">
    <h1>软件信息</h1>
    <div style="display: flex;">
        <div>
            <p><b>智像DP：</b><span th:text="${SW.getZeasn_devicetype()}"></span>&nbsp;&nbsp;<button onclick="copyDP()">点击复制</button></p>
            <p><b>脚本：<a th:href="${'/toScript?swSCpath='}+${SW.getFull_name_of_software_path}">编辑脚本</a>|<a th:onclick="openpath([[${SW.getFull_name_of_software_path}]])">打开目录</a>|<a th:onclick="openFile([[${SW.getFull_name_of_software_path}]])">打开文件</a></b></p>
            <div style="margin-left: 30px">
                <input id="ScName" type="text" th:value=" ${SW.software_name}"></input><br>
                <button onclick="rmScName()">重命名脚本</button>
                <button onclick="newSc()">创建新脚本</button>
                <!--        <span style="color: red;" class="zhushi">*请先创建新脚本在创建新客制化文件夹</span>-->
            </div>

            <p><b>客制化文件夹：<a th:onclick="openpath([[${SW.full_name_of_software_customization_path}]])" >打开目录</a></b></p>
            <div style="margin-left: 30px">
                <input type="text" id="CuDir" th:value="${SW.software_customization_name}"></input><br>
                <button onclick="rmDir()">重命名文件夹</button>
                <button onclick="newDir()">创建新文件夹</button>
                <!--        <span style="color: red;" class="zhushi">*重命名或新建客制化文件夹都会自动更新脚本中的宏</span>-->
            </div>

            <p><b>logo<span id="dzpt1" style="display: none">和电子屏贴</span>：<a th:onclick="openpath([[${SW.full_name_of_software_logo_path}]])" >打开LOGO目录</a><span  class="rtksty">|<a id="clogo"  href="/toRAWLOGO">制作logo</a></span><span id="dzpt3" style="display: none;">|<a th:onclick="openpath([[${SW.dzptPath}]])"  >打开电子屏贴目录</a></span></b>

            <div style="margin-left: 30px;display: flex;" >
            <div>
                <a th:href="@{/image/logo}" style="text-decoration:none;">
                    <img style="height: 180px;width: 320px;" border="3" title="点击可查看大图" th:src="@{/image/logo}">
                </a>&nbsp;
                <a href="/dzpt" id="dzpt2" style="text-decoration:none;display: none;">
                    <img style="height: 180px;width: 320px;" border="3" title="点击可查看大图" th:src="@{/image/dzpt}">
                </a>
                <video id="donhvideo" loop="loop" style="height: 187px; display: none; width: 327px;" autoplay="autoplay" controls="autoplay"  th:src="@{/preview2}"></video>
            </div>
            <div id="donhdiv" style="border:2px solid #000000;display: none; background-color: black; height: 180px;width: 320px;margin-left: 10px" >
                    <img class="mtk9632" style="position:absolute;height: 42px;width: 170px; margin: 69px  75px; background-color: white"/>
                    <img class="mtk9632" id="don" style="position:absolute;height: 42px;width: 0px; margin: 69px -100px;"  src="img/android-logo-shine.png"/>
                    <img class="mtk9632" style="position:absolute;height: 180px;width: 320px;"src="img/3.png"/>
                    <img id="donh" style="position:absolute;height: 42px;width: 170px; margin: 69px 78px;"  title="点击可查看大图" src="img/android-logo-mask.png"/>
            </div>
            <br>
                <!--        <span style="color: red;" class="zhushi">*请打开logo目录，复制你要修改的logo名称，填入输入框更换logo。</span>-->
            </div>
            <input id="logo" type="text" th:value="${SW.software_logo_name}" style="width: 23%;height: 20px;margin-left: 30px;"></input>
            <button onclick="UPlogo()">更换logo</button>
        </div>
        <div style="padding-left: 50px">
            <p><b>遥控器丝印图：</b></p>
            <a th:href="@{/image/ykq}" style="text-decoration:none;">
            <img style="height: 450px;width: 366px;" border="1" title="点击可查看大图" th:src="@{/image/ykq}">
            </a>
        </div>
    </div>
    <p>
        <div id="swdiv1">

        <b>屏： <a th:onclick="openpath([[${SW.full_name_of_software_screen_parameter_name_path}]])" >打开目录</a>|<a th:onclick="openFile([[${SW.full_name_of_software_screen_parameter_name_path}]])">打开文件</a></b>
    <div class="tit2">
        屏参文件名：<input id="panelName" type="text" th:value="${SW.screen_name}" style="height: 20px;"></input>
        <button onclick="UPPanel()" >更换屏参</button>
<!--    <span style="color: red;" class="zhushi">*请打开目录，复制你要修改的屏文件名称，填入输入框更换配屏</span>-->
        <br><br>
        <form action="#" th:action="@{/Panel}" method="post" th:object="${SW}" style="background-color: #eeeeee">
            工厂菜单显示名:
            <input type="text" th:field="*{panel.M_PNAME}"/>
            <br>

            <div id="TiMode">
                Ti Mode:
                <input name="Ti" onclick="Timodeon()" th:checked="*{panel.getTi_MODE() eq '1'} ? true : false"
                       type="radio">on
                <input name="Ti" onclick="Timodeoff()" th:checked="*{panel.getTi_MODE()  eq '0'} ? true : false"
                       type="radio">off
            </div>
            <div id="SwapMode">
                Swap Mode:
                <input name="SWAP" onclick="Swapdeon()" th:checked="*{panel.getSwap_MODE() eq '1'} ? true : false"
                       type="radio"/>on
                <input name="SWAP" onclick="Swapdeoff()" th:checked="*{panel.getSwap_MODE() eq '0'} ? true : false"
                       type="radio"/>off
            </div>
            <div id="DualMode">
                Dual Mode:
                <input name="Dual" onclick="Dualdeon()" th:checked="*{panel.getDual_MODE() eq '1'} ? true : false"
                       type="radio"/>off
                <input name="Dual" onclick="Dualdeoff()" th:checked="*{panel.getDual_MODE() eq '2'} ? true : false"
                       type="radio"/>on
            </div>
            <div id="MirrorMode">
                Mirror Mode:
                <input name="Mirror" onclick="Mirrordeon()" th:checked="*{panel.getMirror_MODE() eq '1'} ? true : false"
                       type="radio"/>MIRROR
                <input name="Mirror" onclick="Mirrordeoff()"
                       th:checked="*{panel.getMirror_MODE() eq '0'} ? true : false"
                       type="radio"/>NORMAL
            </div>
            <div id="BitsMode">
                Bits Mode:
                <input name="Bits" onclick="Bitsde1()" th:checked="*{panel.getBit_MODE() eq '0'} ? true : false" type="radio"/>6bit
                <input name="Bits" onclick="Bitsde2()" th:checked="*{panel.getBit_MODE() eq '1'} ? true : false" type="radio"/>8bit
                <input name="Bits" onclick="Bitsde3()" th:checked="*{panel.getBit_MODE() eq '2'} ? true : false" type="radio"/>10bit
            </div>

            <br>
            <button style="padding: 5px 150px;" type="submit">提交修改</button>
<!--            <span style="color: red;" class="zhushi">*提交修改后，会直接修改屏参文件，请注意检查。</span>-->
            <br>
            <input  style="display: none;" type="text" th:field="*{panel.Ti_MODE}"/>
            <input  style="display: none;" type="text" th:field="*{panel.Swap_MODE}"/>
            <input  style="display: none;" type="text" th:field="*{panel.Dual_MODE}"/>
            <input  style="display: none;" type="text" th:field="*{panel.Mirror_MODE}"/>
            <input  style="display: none;" type="text" th:field="*{panel.Bit_MODE}"/>
            <input  style="display: none;" type="text" th:field="*{software_name}"/>
            <input  style="display: none;" type="text" th:field="*{full_name_of_software_path}"/>
            <input  style="display: none;" type="text"
                   th:field="*{full_name_of_software_screen_parameter_name_path}"/>
        </form>
    </div>
    </div>
    <div id="swdiv2">
      <b>软件基础配置：</b>
        <div class="tit2">
            <table>
                <tr>
                    <td th:onclick="openFileRow([[${SW.getFull_name_of_software_path}]],[[${SW.getSwinfo().getIRname()}]])">遥控器名：<a th:text="${SW.getSwinfo().getIRname()}"></a></td>
                    <td th:onclick="openFileRow([[${SW.getFull_name_of_software_path}]],'sticker')">电子屏贴：<a th:text="${SW.getSwinfo().getIsDzpt()}"></a></td>
                    <td>按键板类型：<span th:text="${SW.getSwinfo().getKEYboardType()}"></span></td>
                    <td>通道配置：<span th:text="${SW.getSwinfo().getSOURCE()}"></span></td>
                </tr>
                <tr>
                    <td th:onclick="openFileRow([[${SW.getFull_name_of_software_path}]],[[${SW.getSwinfo().getBoard()}]])">板卡类型：<a th:text="${SW.getSwinfo().getBoard()}"></a></td>
                    <td>CI：<span th:text="${SW.getSwinfo().getIsCI()}"></span></td>
                    <td>板卡内存及存储：<span th:text="${SW.getSwinfo().getStore()}"></span></td>
                    <td th:onclick="openFileRow([[${SW.getFull_name_of_software_path}]],[[${SW.getSwinfo().getKEYboardName()}]])">按键板名：<a th:text="${SW.getSwinfo().getKEYboardName()}"></a></td>
                </tr>
                <tr>
                    <td>TV制式：<span th:text="${SW.getSwinfo().getTV_system()}"></span></td>
                    <td>蓝牙：<span th:text="${SW.getSwinfo().getIsBluetooth()}"></span></td>
                    <td>默认背光：<span th:text="${SW.getSwinfo().getBacklight()}"></span></td>
                    <td>能效模式：<span th:text="${SW.getSwinfo().getECO_MODE()}"></span></td>
                </tr>
                <tr>
                    <td>国家+默认语言：<span th:text="${SW.getSwinfo().getCountry_and_language()}"></span></td>
                    <td>杜比：<span th:text="${SW.getSwinfo().getIsdolby()}"></span></td>
                    <td>ATV手动搜台制式：<span th:text="${SW.getSwinfo().getATVManual()}"></span></td>
                    <td>所有语言：<span th:text="${SW.getSwinfo().getLanguageAll()}"></span></td>
                </tr>
                <tr>
                    <td th:onclick="openFileRow([[${SW.getFull_name_of_software_path}]],[[${SW.getSwinfo().getSound_power()}]])">声音功率：<a th:text="${SW.getSwinfo().getSound_power()}"></a></td>
                    <td>智像：<span th:text="${SW.getSwinfo().getIsZeasn()}"></span></td>
                    <td>屏分辨率：<span th:text="${SW.getSwinfo().getResolution()}"></span></td>
                    <td>内置应用：<span th:text="${SW.getSwinfo().getAPPS()}"></span></td>
                </tr>
                <tr>
                    <td th:onclick="openFileRow([[${SW.getFull_name_of_software_path}]],[[${SW.getSwinfo().getCurrent()}]])">背光电流：<a th:text="${SW.getSwinfo().getCurrent()}"></a></td>
                    <td>Eshare：<span th:text="${SW.getSwinfo().getIsEshare()}"></span></td>
                    <td>升级软件名称：<span th:text="${SW.getSwinfo().getUpdateName()}"></span></td>
                    <td th:onclick="openFileRow([[${SW.getFull_name_of_software_path}]],[[${SW.getSwinfo().getModel_name()}]])">客户机型名：<a th:text="${SW.getSwinfo().getModel_name()}"></a></td>
                </tr>
                <tr>
                    <td>待机模式：<span th:text="${SW.getSwinfo().getStandby_mode()}"></span></td>
                    <td>上电模式：<span th:text="${SW.getSwinfo().getIsPower_memory()}"></span></td>
                    <td>设备名：<span th:text="${SW.getSwinfo().getEquipment_name()}"></span></td>
                    <td>图文：<span th:text="${SW.getSwinfo().getTTX_language()}"></span></td>
                </tr>
            </table>
        </div>
    </div>

    </p>

    <div id="colordiv" style="clear: both; ">
        <br>
        <br>
        <h1>PQ信息</h1>
        <b>色温:</b>
        <form id="pqfrom" action="#" th:action="@{/Color}" method="post" th:object="${SW}">
            <table style="margin-left: 30px">
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Standard</th>
                    <th>COOL</th>
                    <th>Warm</th>
                </tr>
                <tr>
                    <th style="background-color: rgba(255,37,22,0.56)">R</th>
                    <td><input type="text" th:field="*{PQ_data.UserR}"/></td>
                    <td><input type="text" th:field="*{PQ_data.StandardR}"/></td>
                    <td><input type="text" th:field="*{PQ_data.CoolR}"/></td>
                    <td><input type="text" th:field="*{PQ_data.WarmR}"/></td>
                </tr>
                <tr>
                    <th style="background-color: rgba(0,207,0,0.44)">G</th>
                    <td><input type="text" th:field="*{PQ_data.UserG}"/></td>
                    <td><input type="text" th:field="*{PQ_data.StandardG}"/></td>
                    <td><input type="text" th:field="*{PQ_data.CoolG}"/></td>
                    <td><input type="text" th:field="*{PQ_data.WarmG}"/></td>
                </tr>
                <tr>
                    <th style="background-color: rgba(0,0,255,0.44)">B</th>
                    <td><input type="text" th:field="*{PQ_data.UserB}"/></td>
                    <td><input type="text" th:field="*{PQ_data.StandardB}"/></td>
                    <td><input type="text" th:field="*{PQ_data.CoolB}"/></td>
                    <td><input type="text" th:field="*{PQ_data.WarmB}"/></td>
                </tr>
                <tr>
                    <th  style="background-color: rgba(255,37,22,0.56)">R OFFSET</th>
                    <td><input type="text" th:field="*{PQ_data.UserROFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.StandardROFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.CoolROFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.WarmROFF}"/></td>
                </tr>
                <tr>
                    <th style="background-color: rgba(0,207,0,0.44)">G OFFSET</th>
                    <td><input type="text" th:field="*{PQ_data.UserGOFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.StandardGOFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.CoolGOFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.WarmGOFF}"/></td>
                </tr>
                <tr>
                    <th  style="background-color: rgba(0,0,255,0.44)">B OFFSET</th>
                    <td><input type="text" th:field="*{PQ_data.UserBOFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.StandardBOFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.CoolBOFF}"/></td>
                    <td><input type="text" th:field="*{PQ_data.WarmBOFF}"/></td>
                </tr>
            </table>

            <br>
            <b id="rtktit">Non-linear(OSD_50):</b>
            <table style="margin-left: 30px">
                <tr>
                    <th></th>
                    <th>ATV</th>
                    <th>DTV</th>
                    <th>AV</th>
                    <th>YPBPR</th>
                    <th >HDMI</th>
                    <th>VGA</th>
                    <th>USB</th>
                </tr>
                <tr>
                    <th>Brightness</th>
                    <td ><input type="text" th:field="*{PQ_data.ATVBrightness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.DTVBrightness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.AVBrightness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.YPBPRBrightness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.HDMIBrightness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.VGABrightness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.USBBrightness}"/></td>
                    <th>Brightness</th>
                </tr>
                <tr>
                    <th>Contrast</th>
                    <td ><input type="text" th:field="*{PQ_data.ATVContrast}"/></td>
                    <td><input type="text" th:field="*{PQ_data.DTVContrast}"/></td>
                    <td><input type="text" th:field="*{PQ_data.AVContrast}"/></td>
                    <td><input type="text" th:field="*{PQ_data.YPBPRContrast}"/></td>
                    <td><input type="text" th:field="*{PQ_data.HDMIContrast}"/></td>
                    <td><input type="text" th:field="*{PQ_data.VGAContrast}"/></td>
                    <td><input type="text" th:field="*{PQ_data.USBContrast}"/></td>
                    <th>Contrast</th>
                </tr>
                <tr>
                    <th>Saturation</th>
                    <td ><input type="text" th:field="*{PQ_data.ATVSaturation}"/></td>
                    <td><input type="text" th:field="*{PQ_data.DTVSaturation}"/></td>
                    <td><input type="text" th:field="*{PQ_data.AVSaturation}"/></td>
                    <td><input type="text" th:field="*{PQ_data.YPBPRSaturation}"/></td>
                    <td><input type="text" th:field="*{PQ_data.HDMISaturation}"/></td>
                    <td><input type="text" th:field="*{PQ_data.VGASaturation}"/></td>
                    <td><input type="text" th:field="*{PQ_data.USBSaturation}"/></td>
                    <th>Saturation</th>
                </tr>
                <tr>
                    <th>Sharpness</th>
                    <td ><input type="text" th:field="*{PQ_data.ATVSharpness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.DTVSharpness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.AVSharpness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.YPBPRSharpness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.HDMISharpness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.VGASharpness}"/></td>
                    <td><input type="text" th:field="*{PQ_data.USBSharpness}"/></td>
                    <th>Sharpness</th>
                </tr>
                <tr>
                    <th>Hue</th>
                    <td ><input type="text" th:field="*{PQ_data.ATVHue}"/></td>
                    <td><input type="text" th:field="*{PQ_data.DTVHue}"/></td>
                    <td><input type="text" th:field="*{PQ_data.AVHue}"/></td>
                    <td><input type="text" th:field="*{PQ_data.YPBPRHue}"/></td>
                    <td><input type="text" th:field="*{PQ_data.HDMIHue}"/></td>
                    <td><input type="text" th:field="*{PQ_data.VGAHue}"/></td>
                    <td><input type="text" th:field="*{PQ_data.USBHue}"/></td>
                    <th>Hue</th>
                </tr>
            </table>
            <br>
            <button id="rtksub"  type="button"  style="font-size: 100%;padding: 15px 350px;"  onclick="tijiao()">提交修改</button>
<!--            <span id="rtksubzs" style="color: red;" class="zhushi">*提交修改后，会直接修改PQ文件，2851和2842会编译成bin文件并生成在客制化文件夹中，请检查。</span>-->
            <input  style="display: none;" type="text" th:field="*{software_color_temperature_file_path}"/>
            <input  style="display: none;" type="text" th:field="*{software_name}"/>
            <input  style="display: none;" type="text" th:field="*{isRTK}"/>
            <input  style="display: none;" type="text" th:field="*{full_name_of_software_customization_path}"/>
            <input  style="display: none;" type="text" th:field="*{screen_name}"/>
            <input  style="display: none;" type="text" th:field="*{software_customization_name}"/>
            <input  style="display: none;" type="text" th:field="*{Plan}"/>
        </form>
    </div>
    <div style="height: 400px">

    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    var wzsd1=1000;
    var sbbb= setInterval("sb()",wzsd1);
    function sb(){
        $("#don").animate({margin: '69px 0px',width:'0px'},0);
        $("#don").animate({margin: '69px 75px',width:'170px'},3000);
        $("#don").animate({margin: '69px 150px',width:'170px'},2000);
        $("#don").animate({margin: '69px 240px',width:'75px'},1000);
    }

    window.onload = function () {
        setInterval(sbbb);
        var msg = [[${msg}]];
        if (msg.length > 1) {
            alert(msg);
        }
        if ([[${SW.getIsdzpt()}]]=="true") {
            document.getElementById("dzpt1").style.display = "inline";
            document.getElementById("dzpt2").style.display = "inline";
            document.getElementById("dzpt3").style.display = "inline";
        }
        if ([[${SW.getPanel().getTi_MODE()}]] == null) {
            document.getElementById("TiMode").style.display = "none";
        }
        if ([[${SW.getPanel().getSwap_MODE()}]] == null) {
            document.getElementById("SwapMode").style.display = "none";
        }
        if ([[${SW.getPanel().getMirror_MODE()}]] == null) {
            document.getElementById("MirrorMode").style.display = "none";
        }
        if ([[${SW.getPanel().getBit_MODE()}]] == null) {
            document.getElementById("BitsMode").style.display = "none";
        }
        if ([[${SW.getPanel().getDual_MODE()}]] == null) {
            document.getElementById("DualMode").style.display = "none";
        }
        if ([[${SW.getSwinfo().getIsbootvideo()}]] == "false") {
            document.getElementById("donhdiv").style.display = "inline";
        }else {
            document.getElementById("donhvideo").style.display = "inline";
        }
        if ([[${SW.getIsRTK()}]] == 0) {
            var a=document.querySelectorAll(".rtksty");
            for (var i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }
            if ([[${SW.getPlan()}]] =="368") {
                var a=document.querySelectorAll(".mtk9632");
                for (var i = 0; i < a.length; i++) {
                    a[i].style.display = "none";
                }
                document.getElementById("donh").src="img/MTK368.gif";
                document.getElementById("donh").style.width="80px";
                document.getElementById("donh").style.height="80px";
                document.getElementById("donh").style.margin="50px 120px"
            }
        }else {
            var a=document.querySelectorAll(".mtk9632");
            for (var i = 0; i < a.length; i++) {
                a[i].style.display = "none";
            }

            document.getElementById("donh").src="img/rtk.gif";
        }

        let input = document.getElementById("ScName");
        const l = input.value.length;
        input.style.width = (l+1) * 8 + "px";
        let input2 = document.getElementById("CuDir");
        const l2 = input2.value.length;
        input2.style.width = (l2+1) * 9 + "px";
    }

    function tijiao() {
        document.getElementById("pqfrom").submit();
    }
    function Timodeon() {
        document.getElementById("panel.Ti_MODE").value = 1;
    }

    function Timodeoff() {
        document.getElementById("panel.Ti_MODE").value = 0;
    }

    function Swapdeon() {
        document.getElementById("panel.Swap_MODE").value = 1;
    }

    function Swapdeoff() {
        document.getElementById("panel.Swap_MODE").value = 0;
    }

    function Mirrordeon() {
        document.getElementById("panel.Mirror_MODE").value = 1;
    }

    function Mirrordeoff() {
        document.getElementById("panel.Mirror_MODE").value = 0;
    }

    function Dualdeoff() {
        document.getElementById("panel.Dual_MODE").value = 2;
    }
    function Dualdeon() {
        document.getElementById("panel.Dual_MODE").value = 1;
    }

    function Bitsde1() {
        document.getElementById("panel.Bit_MODE").value = 0;
    }
    function Bitsde2() {
        document.getElementById("panel.Bit_MODE").value = 1;
    }
    function Bitsde3() {
        document.getElementById("panel.Bit_MODE").value = 2;
    }


    function rmScName() {
        var oldScname = [[${SW.full_name_of_software_path}]];
        var newScname = document.getElementById("ScName").value;
        var old = [[${SW.software_name}]];
        if (old == newScname) {
            alert("请在上方输入框更改脚本名");
        } else {
            var postForm = document.createElement("form");//表单对象
            postForm.method = "post";
            postForm.action = '/RmScname';

            var oldScnameInput = document.createElement("input");
            oldScnameInput.setAttribute("name", "oldScname");
            oldScnameInput.setAttribute("value", oldScname);
            postForm.appendChild(oldScnameInput);

            var newScnameInput = document.createElement("input");
            newScnameInput.setAttribute("name", "newScname");
            newScnameInput.setAttribute("value", newScname);
            postForm.appendChild(newScnameInput);

            document.body.appendChild(postForm);
            postForm.submit();
        }
    }

    function newSc() {
        var oldScname = [[${SW.full_name_of_software_path}]];
        var newScname = document.getElementById("ScName").value;
        var old = [[${SW.software_name}]];
        if (old == newScname) {

            alert("请在上方输入框更改脚本名");
        } else {
            var postForm = document.createElement("form");//表单对象
            postForm.method = "post";
            postForm.action = '/newSc';

            var oldScnameInput = document.createElement("input");
            oldScnameInput.setAttribute("name", "oldScname");
            oldScnameInput.setAttribute("value", oldScname);
            postForm.appendChild(oldScnameInput);

            var newScnameInput = document.createElement("input");
            newScnameInput.setAttribute("name", "newScname");
            newScnameInput.setAttribute("value", newScname);
            postForm.appendChild(newScnameInput);

            document.body.appendChild(postForm);
            postForm.submit();
        }
    }

    function rmDir() {
        var oldScname = [[${SW.full_name_of_software_customization_path}]];
        var newScname = document.getElementById("CuDir").value;
        var SwName = [[${SW.software_name}]];
        var old = [[${SW.software_customization_name}]];
        if (old == newScname) {
            alert("请在上方输入框更改客制化名");
        } else {
            var postForm = document.createElement("form");//表单对象
            postForm.method = "post";
            postForm.action = '/rmDir';

            var oldScnameInput = document.createElement("input");
            oldScnameInput.setAttribute("name", "oldScname");
            oldScnameInput.setAttribute("value", oldScname);
            postForm.appendChild(oldScnameInput);

            var SwNameInput = document.createElement("input");
            SwNameInput.setAttribute("name", "SwName");
            SwNameInput.setAttribute("value", SwName);
            postForm.appendChild(SwNameInput);

            var newScnameInput = document.createElement("input");
            newScnameInput.setAttribute("name", "newScname");
            newScnameInput.setAttribute("value", newScname);
            postForm.appendChild(newScnameInput);

            document.body.appendChild(postForm);
            postForm.submit();
        }
    }

    function newDir() {
        var oldScname = [[${SW.full_name_of_software_customization_path}]];
        var newScname = document.getElementById("CuDir").value;
        var SwName = [[${SW.software_name}]];
        var old = [[${SW.software_customization_name}]];
        if (old == newScname) {
            alert("请在上方输入框更改客制化名");
        } else {
            var postForm = document.createElement("form");//表单对象
            postForm.method = "post";
            postForm.action = '/newDir';

            var oldScnameInput = document.createElement("input");
            oldScnameInput.setAttribute("name", "oldScname");
            oldScnameInput.setAttribute("value", oldScname);
            postForm.appendChild(oldScnameInput);

            var SwNameInput = document.createElement("input");
            SwNameInput.setAttribute("name", "SwName");
            SwNameInput.setAttribute("value", SwName);
            postForm.appendChild(SwNameInput);

            var newScnameInput = document.createElement("input");
            newScnameInput.setAttribute("name", "newScname");
            newScnameInput.setAttribute("value", newScname);
            postForm.appendChild(newScnameInput);

            document.body.appendChild(postForm);
            postForm.submit();
        }

    }

    function UPlogo() {
        var oldScname = [[${SW.software_logo_name}]];
        var newScname = document.getElementById("logo").value;
        var SwName = [[${SW.software_name}]];

        if (oldScname == newScname) {
            alert("请在输入框更改logo");
        } else {
            var postForm = document.createElement("form");//表单对象
            postForm.method = "post";
            postForm.action = '/UPlogo';

            var oldScnameInput = document.createElement("input");
            oldScnameInput.setAttribute("name", "oldScname");
            oldScnameInput.setAttribute("value", oldScname);
            postForm.appendChild(oldScnameInput);

            var SwNameInput = document.createElement("input");
            SwNameInput.setAttribute("name", "SwName");
            SwNameInput.setAttribute("value", SwName);
            postForm.appendChild(SwNameInput);

            var newScnameInput = document.createElement("input");
            newScnameInput.setAttribute("name", "newScname");
            newScnameInput.setAttribute("value", newScname);
            postForm.appendChild(newScnameInput);

            document.body.appendChild(postForm);
            postForm.submit();
        }
    }

    function UPPanel() {
        var oldScname = [[${SW.software_logo_name}]];
        var newScname = document.getElementById("panelName").value;
        var SwName = [[${SW.software_name}]];

        if (oldScname == newScname) {
            alert("请在输入框更改屏参名");
        } else {
            var postForm = document.createElement("form");//表单对象
            postForm.method = "post";
            postForm.action = '/UPlogo';

            var oldScnameInput = document.createElement("input");
            oldScnameInput.setAttribute("name", "oldScname");
            oldScnameInput.setAttribute("value", oldScname);
            postForm.appendChild(oldScnameInput);

            var SwNameInput = document.createElement("input");
            SwNameInput.setAttribute("name", "SwName");
            SwNameInput.setAttribute("value", SwName);
            postForm.appendChild(SwNameInput);

            var newScnameInput = document.createElement("input");
            newScnameInput.setAttribute("name", "newScname");
            newScnameInput.setAttribute("value", newScname);
            postForm.appendChild(newScnameInput);

            document.body.appendChild(postForm);
            postForm.submit();
        }
    }

    function copyDP() {
        var Url2="DP:"+[[${SW.getZeasn_devicetype()}]];
        var oInput = document.createElement('input');
        oInput.value = Url2;
        document.body.appendChild(oInput);
        oInput.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        oInput.className = 'oInput';
        oInput.style.display='none';
    }

    function Refresh(){
        var textname=[[${SW.software_name}]];
        var postForm = document.createElement("form");//表单对象
        postForm.method="post" ;
        postForm.action = '/subswname' ;

        var pathInput = document.createElement("input") ;
        pathInput.setAttribute("name", "swname") ;
        pathInput.setAttribute("value", textname);
        postForm.appendChild(pathInput);

        document.body.appendChild(postForm) ;
        postForm.submit() ;
    }
    document.onkeydown=function (e) {
        event=event||window.event;
        var currKey=0, e=e||event||window.event;
        currKey = e.keyCode||e.which||e.charCode;
        //检测按下哪个键，作相应处理
        if((e.ctrlKey||e.metaKey) &&(e.altKey||e.metaKey) &&  currKey == 90){
            Refresh();
            return false;
        } else{
            return true;
        }
    };

    function openpath(path) {
        $.ajax({
            type:"post",
            url:"/openSWfile",
            data:path,
            contentType: 'application/json'
        });
    }
    function openFile(path) {
        $.ajax({
            type:"post",
            url:"/openSWfile",
            data:path+"96322851368",
            contentType: 'application/json'
        });
    }
    function openFileRow(path,str) {
        $.ajax({
            type:"post",
            url:"/openSWfile",
            data:path+"36896322851"+str,
            contentType: 'application/json'
        });
    }
</script>
<script defer="defer">

</script>
</body>
</html>