
不配置的仓库请删除那行
368仓库路径=Z:/9255/MTK368P/>A仓库
368仓库路径=Z:/9255/New9255/MTK368P/>B仓库
368仓库路径=Y:/MTK368P/>C仓库
9632&&6681仓库路径=Z:/9632/MTK9632P/>A仓库
9632&&6681仓库路径=Y:/MTK9632P/>B仓库
2851&&2842仓库路径=Z:/2851/2851_all/>普通仓库
2851&&2842仓库路径=Z:/2851/new_2851/2851_all/>备用仓库
2851&&2842仓库路径=Y:/2851_all/>只编译仓库
2853&&2843仓库路径=Z:/2853/RTD2853R/>第一个仓库



文本阅读器
codeeditor代码编辑器=D:\hy\room\Notepad\Notepad++\notepad++.exe
对比工具
ComparisonTool对比工具路径=C:\Program Files\Beyond Compare 4\BCompare.exe


LinuxIP=172.168.1.230
Linux密码password=123422343HY

FtpUser账号=liufujun
FtpPassword密码=123456
FtpCountryIsChinese=true

2851编译PQ仓库路径 :
2851PQ_Windows=Z:/2851/rtk2851_pq/rtk2851/libvip/LibvipOSD/
2851PQ_LinuxPath=/media/workspace0/liufujun/2851/rtk2851_pq/rtk2851/libvip/LibvipOSD
2851_LinuxPath=/media/workspace0/liufujun/2851/2851_all
