button,#LeftComparedid,#Comparedid{
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: white;
    background-color: #f47c00;
}
button:hover,#LeftComparedid:hover,#Comparedid:hover {
    background-color: #ff8500;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.24), 0 8px 20px 0 rgba(0,0,0,0.19);
}

a{
    color: green;
    text-decoration:none;
}
a:link {color: green;
    text-decoration:none;
} /* 未访问的链接 */
a:visited {color: green;
    text-decoration:none;
} /* 已访问的链接 */
a:hover {color: #ff2516;
    text-decoration:none;
} /* 当有鼠标悬停在链接上 */
a:active {color: #fcfaff;
    text-decoration:none;
} /* 被选择的链接 */

.spacespan{
    margin-right: 10px;
    width: 10px;
}
.danwei{
    font-size: 14px;
    color: #aaaaaa;
}