国家=时区=国家缩写=国家英文名=手动搜台视频制式=手动搜台音频制式=图文语言=9632图文语言编号=368图文语言编号
尼泊尔=Asia/Kathmandu=NP=NEPAL=pal=bg=arabic=8=57
伊拉克=Asia/Baghdad=IQ=IRAQ=pal=bg=arabic=8=57
埃及=Africa/Cairo=EG=EGYPT=pal=bg=arabic=8=57
土耳其=Europe/Istanbul=TR=TURKEY=pal=bg=arabic=8=57
沙特阿拉伯=Asia/Riyadh=SA=SAUDI_ARABIA=pal=bg=arabic=8=57
阿联酋=Asia/Dubai=AE=ARE=pal=bg=arabic=8=57
塞尔维亚=Europe/Belgrade=RS=SERBIA=pal=bg=east=1=57
以色列=Asia/Jerusalem=IL=ISRAEL=pal=bg=arabic=8=57
黎巴嫩=Asia/Beirut=EG=LEBANON=pal=bg=arabic=8=57
哥斯达黎加=a=a=CostaRica=a=a=a=a=a
海地=a=a=CHILE=a=a=a=a=a
法国=a=a=FRANCE=a=a=a=a=a
印度=a=a=INDIA=a=a=a=a=a
俄罗斯=a=a=RUSSIA=a=a=a=a=a
泰国=a=a=Thailand=a=a=a=a=a
乌克兰=a=a=UKRAINE=a=a=a=a=a
迪拜=a=a=DUBAI=a=a=a=a=a
阿尔巴尼亚=a=a=ALBANIA=a=a=a=a=a
阿尔及利亚=a=a=ALGERIA=a=a=a=a=a
中国=a=a=CHINA=a=a=a=a=a
哥伦比亚=a=a=COLOMBIA=a=a=a=a=a
加纳=a=a=GHANA=a=a=a=a=a
匈牙利=a=a=HUNGARY=a=a=a=a=a
象牙海岸=a=a=IVORY_COAST=a=a=a=a=a
约旦=a=a=JORDAN=a=a=a=a=a
科索沃=a=a=KOSOVO=a=a=a=a=a
马来西亚=a=a=MALAYSIA=a=a=a=a=a
西班牙=a=a=SPAIN=a=a=a=a=a
墨西哥=a=a=MEXICO=a=a=a=a=a
摩洛哥=a=a=Morocco=a=a=a=a=a
秘鲁=a=a=Peru=a=a=a=a=a
波兰=a=a=POLAND=a=a=a=a=a
哥伦比亚=a=a=COLOMBIA=a=a=a=a=a
塞内加尔=a=a=SENEGAl=a=a=a=a=a
斯里兰卡=a=a=SRI_LANKA=a=a=a=a=a
越南=a=a=VIETNAM=a=a=a=a=a
法国=a=a=Frence=a=a=a=a=a
肯尼亚=a=a=KENYA=a=a=a=a=a
阿拉伯联合酋长国=a=a=UnitedArabEmirates=a=a=a=a=a
叙利亚=a=a=SYRIA=a=a=a=a=a
突尼斯=a=a=TUNISIA=a=a=a=a=a
保加利亚=a=a=BULGARIA=a=a=a=a=a
菲律宾=a=a=PHILIPPINES=a=a=a=a=a
葡萄牙=a=a=PORTUGAL=a=a=a=a=a
厄瓜多尔=a=a=ECUADOR=a=a=a=a=a
英国=a=a=UNITED_KINGDOM=a=a=a=a=a
玻利维亚=a=a=BOLIVIA=a=a=a=a=a
挪威=a=a=NORWAY=a=a=a=a=a
巴拿马=a=a=PANAMA=a=a=a=a=a
新加坡=a=a=SINGAPORE=a=a=a=a=a
南韩=a=a=SOUTH_KOREA=a=a=a=a=a
日本=a=a=JAPAN=a=a=a=a=a
阿根廷=a=a=ARGENTINA=a=a=a=a=a
老挝=a=a=LAO_PDR=a=a=a=a=a
委内瑞拉=a=a=VENEZUELA=a=a=a=a=a
意大利=a=a=ITALY=a=a=a=a=a
巴林=a=a=BAHRAIN=a=a=a=a=a
法属圭亚那=a=a=GUYANEFRANCAISE=a=a=a=a=a
基督教=a=a=KYRGHYZSTAN=a=a=a=a=a
澳大利亚=a=a=AUSTRALIA=a=a=a=a=a
塞浦路斯=a=a=CYPRUS=a=a=a=a=a
斐济=a=a=FIJI=a=a=a=a=a
索马里=a=a=SOMALIA=a=a=a=a=a
英国=a=a=_UK_=a=a=a=a=a
牙买加=a=a=JAMAICA=a=a=a=a=a
瑞典=a=a=SWEDEN=a=a=a=a=a
罗马尼亚=a=a=ROMANIA=a=a=a=a=a
德国=a=a=GERMANY=a=a=a=a=a
台湾=a=a=TAIWAN=a=a=a=a=a
莫桑比克=a=a=Mozambique=a=a=a=a=a
卡塔尔=a=a=Qatar=a=a=a=a=a