国家=时区=国家缩写=国家英文名=手动搜台视频制式=手动搜台音频制式=图文语言=9632图文语言编号=368图文语言编号
尼泊尔=Asia/Kathmandu=NP=NEPAL=pal=bg=arabic=8=57
伊拉克=Asia/Baghdad=IQ=IRAQ=pal=bg=arabic=8=57
埃及=Africa/Cairo=EG=EGYPT=pal=bg=arabic=8=57
土耳其=Europe/Istanbul=TR=TURKEY=pal=bg=arabic=8=57
沙特阿拉伯=Asia/Riyadh=SA=SAUDI_ARABIA=pal=bg=arabic=8=57
阿联酋=Asia/Dubai=AE=ARE=pal=bg=arabic=8=57
塞尔维亚=Europe/Belgrade=RS=SERBIA=pal=bg=east=1=57
以色列=Asia/Jerusalem=IL=ISRAEL=pal=bg=arabic=8=57
黎巴嫩=Asia/Beirut=EG=LEBANON=pal=bg=arabic=8=57