国家=时区=国家缩写=国家英文名=手动搜台视频制式=手动搜台音频制式=图文语言=9632图文语言编号=368图文语言编号
尼泊尔=Asia/Kathmandu=NP=NEPAL=pal=bg=arabic=8=57
伊拉克=Asia/Baghdad=IQ=IRAQ=pal=bg=arabic=8=57
埃及=Africa/Cairo=EG=EGYPT=pal=bg=arabic=8=57
土耳其=Europe/Istanbul=TR=TURKEY=pal=bg=arabic=8=57
沙特阿拉伯=Asia/Riyadh=SA=SAUDI_ARABIA=pal=bg=arabic=8=57
阿联酋=Asia/Dubai=AE=_ARE_=pal=bg=arabic=8=57
塞尔维亚=Europe/Belgrade=RS=SERBIA=pal=bg=east=1=57
以色列=Asia/Jerusalem=IL=ISRAEL=pal=bg=arabic=8=57
黎巴嫩=Asia/Beirut=EG=LEBANON=pal=bg=arabic=8=57
哥斯达黎加=a=a=CostaRica=a=a=a=a=a
海地=a=a=CHILE=a=a=a=a=a
法国=a=a=FRANCE=a=a=a=a=a
印度=a=a=INDIA=a=a=a=a=a
俄罗斯=a=a=RUSSIA=a=a=a=a=a
泰国=a=a=Thailand=a=a=a=a=a
乌克兰=a=a=UKRAINE=a=a=a=a=a
迪拜=a=a=DUBAI=a=a=a=a=a
阿尔巴尼亚=a=a=ALBANIA=a=a=a=a=a
阿尔及利亚=a=a=ALGERIA=a=a=a=a=a
中国=a=a=CHINA=a=a=a=a=a
哥伦比亚=a=a=COLOMBIA=a=a=a=a=a
加纳=a=a=GHANA=a=a=a=a=a
匈牙利=a=a=HUNGARY=a=a=a=a=a
象牙海岸=a=a=IVORY_COAST=a=a=a=a=a
约旦=a=a=JORDAN=a=a=a=a=a
科索沃=a=a=KOSOVO=a=a=a=a=a
马来西亚=a=a=MALAYSIA=a=a=a=a=a
西班牙=a=a=SPAIN=a=a=a=a=a
墨西哥=a=a=MEXICO=a=a=a=a=a
摩洛哥=a=a=Morocco=a=a=a=a=a
秘鲁=a=a=_Peru_=a=a=a=a=a
波兰=a=a=POLAND=a=a=a=a=a
哥伦比亚=a=a=COLOMBIA=a=a=a=a=a
塞内加尔=a=a=SENEGAl=a=a=a=a=a
斯里兰卡=a=a=SRI_LANKA=a=a=a=a=a
越南=a=a=VIETNAM=a=a=a=a=a
法国=a=a=Frence=a=a=a=a=a
肯尼亚=a=a=KENYA=a=a=a=a=a
阿拉伯联合酋长国=a=a=UnitedArabEmirates=a=a=a=a=a
叙利亚=a=a=SYRIA=a=a=a=a=a
突尼斯=a=a=TUNISIA=a=a=a=a=a
保加利亚=a=a=BULGARIA=a=a=a=a=a
菲律宾=a=a=PHILIPPINES=a=a=a=a=a
葡萄牙=a=a=PORTUGAL=a=a=a=a=a
厄瓜多尔=a=a=ECUADOR=a=a=a=a=a
英国=a=a=UNITED_KINGDOM=a=a=a=a=a
玻利维亚=a=a=BOLIVIA=a=a=a=a=a
挪威=a=a=NORWAY=a=a=a=a=a
巴拿马=a=a=PANAMA=a=a=a=a=a
新加坡=a=a=SINGAPORE=a=a=a=a=a
南韩=a=a=SOUTH_KOREA=a=a=a=a=a
日本=a=a=JAPAN=a=a=a=a=a
阿根廷=a=a=ARGENTINA=a=a=a=a=a
老挝=a=a=LAO_PDR=a=a=a=a=a
委内瑞拉=a=a=VENEZUELA=a=a=a=a=a
意大利=a=a=ITALY=a=a=a=a=a
巴林=a=a=BAHRAIN=a=a=a=a=a
法属圭亚那=a=a=GUYANEFRANCAISE=a=a=a=a=a
基督教=a=a=KYRGHYZSTAN=a=a=a=a=a
澳大利亚=a=a=AUSTRALIA=a=a=a=a=a
塞浦路斯=a=a=CYPRUS=a=a=a=a=a
斐济=a=a=FIJI=a=a=a=a=a
索马里=a=a=SOMALIA=a=a=a=a=a
英国=a=a=_UK_=a=a=a=a=a
牙买加=a=a=JAMAICA=a=a=a=a=a
瑞典=a=a=SWEDEN=a=a=a=a=a
罗马尼亚=a=a=ROMANIA=a=a=a=a=a
德国=a=a=GERMANY=a=a=a=a=a
台湾=a=a=TAIWAN=a=a=a=a=a
莫桑比克=a=a=Mozambique=a=a=a=a=a
卡塔尔=a=a=Qatar=a=a=a=a=a

阿富汗=a=AF=Afghanistan=a=a=a=a=a
奥兰群岛=a=AX=Aland_Islands=a=a=a=a=a
阿尔巴尼亚=a=AL=Albania=a=a=a=a=a
阿尔及利亚=a=DZ=Algeria=a=a=a=a=a
美属萨摩亚=a=AS=American_Samoa=a=a=a=a=a
安道尔=a=AD=Andorra=a=a=a=a=a
安哥拉=a=AO=Angola=a=a=a=a=a
安圭拉=a=AI=Anguilla=a=a=a=a=a
安提瓜和巴布达=a=AG=Antigua_and_Barbuda=a=a=a=a=a
阿根廷=a=AR=Argentina=a=a=a=a=a
亚美尼亚=a=AM=Armenia=a=a=a=a=a
阿鲁巴=a=AW=Aruba=a=a=a=a=a
澳大利亚=a=AU=Australia=a=a=a=a=a
奥地利=a=AT=Austria=a=a=a=a=a
阿塞拜疆=a=AZ=Azerbaijan=a=a=a=a=a
孟加拉=a=BD=Bangladesh=a=a=a=a=a
巴林=a=BH=Bahrain=a=a=a=a=a
巴哈马=a=BS=Bahamas=a=a=a=a=a
巴巴多斯=a=BB=Barbados=a=a=a=a=a
白俄罗斯=a=BY=Belarus=a=a=a=a=a
比利时=a=BE=Belgium=a=a=a=a=a
伯利兹=a=BZ=Belize=a=a=a=a=a
贝宁=a=BJ=Benin=a=a=a=a=a
百慕大=a=BM=Bermuda=a=a=a=a=a
不丹=a=BT=Bhutan=a=a=a=a=a
玻利维亚=a=BO=Bolivia=a=a=a=a=a
波斯尼亚和黑塞哥维那=a=BA=Bosnia_and_Herzegovina=a=a=a=a=a
博茨瓦纳=a=BW=Botswana=a=a=a=a=a
布维岛=a=BV=Bouvet_Island=a=a=a=a=a
巴西=a=BR=Brazil=a=a=a=a=a
文莱=a=BN=Brunei=a=a=a=a=a
保加利亚=a=BG=Bulgaria=a=a=a=a=a
布基纳法索=a=BF=Burkina_Faso=a=a=a=a=a
布隆迪=a=BI=Burundi=a=a=a=a=a
柬埔寨=a=KH=Cambodia=a=a=a=a=a
喀麦隆=a=CM=Cameroon=a=a=a=a=a
加拿大=a=CA=Canada=a=a=a=a=a
佛得角=a=CV=Cape_Verde=a=a=a=a=a
中非=a=CF=Central_African_Republic=a=a=a=a=a
乍得=a=TD=Chad=a=a=a=a=a
智利=a=CL=Chile=a=a=a=a=a
圣诞岛=a=CX=Christmas_Islands=a=a=a=a=a
科科斯（基林）群岛=a=CC=Cocos_keeling_Islands=a=a=a=a=a
哥伦比亚=a=CO=Colombia=a=a=a=a=a
科摩罗=a=KM=Comoros=a=a=a=a=a
刚果（金）=a=CD=Congo_Congo_Kinshasa=a=a=a=a=a
刚果=a=CG=Congo=a=a=a=a=a
库克群岛=a=CK=Cook_Islands=a=a=a=a=a
哥斯达黎加=a=CR=Costa_Rica=a=a=a=a=a
科特迪瓦=a=CI=Cote_D'Ivoire=a=a=a=a=a
中国=a=CN=China=a=a=a=a=a
克罗地亚=a=HR=Croatia=a=a=a=a=a
古巴=a=CU=Cuba=a=a=a=a=a
捷克=a=CZ=Czech=a=a=a=a=a
塞浦路斯=a=CY=Cyprus=a=a=a=a=a
丹麦=a=DK=Denmark=a=a=a=a=a
吉布提=a=DJ=Djibouti=a=a=a=a=a
多米尼加=a=DM=Dominica=a=a=a=a=a
东帝汶=a=a=East_Timor=a=a=a=a=a
厄瓜多尔=a=EC=Ecuador=a=a=a=a=a
埃及=a=EG=Egypt=a=a=a=a=a
赤道几内亚=a=GQ=Equatorial_Guinea=a=a=a=a=a
厄立特里亚=a=ER=Eritrea=a=a=a=a=a
爱沙尼亚=a=EE=Estonia=a=a=a=a=a
埃塞俄比亚=a=ET=Ethiopia=a=a=a=a=a
法罗群岛=a=FO=Faroe_Islands=a=a=a=a=a
斐济=a=FJ=Fiji=a=a=a=a=a
芬兰=a=FI=Finland=a=a=a=a=a
法国=a=FR=France=a=a=a=a=a
法国大都会=a=FX=Franch_Metropolitan=a=a=a=a=a
法属圭亚那=a=GF=Franch_Guiana=a=a=a=a=a
法属波利尼西亚=a=PF=French_Polynesia=a=a=a=a=a
加蓬=a=GA=Gabon=a=a=a=a=a
冈比亚=a=GM=Gambia=a=a=a=a=a
格鲁吉亚=a=GE=Georgia=a=a=a=a=a
德国=a=DE=Germany=a=a=a=a=a
加纳=a=GH=Ghana=a=a=a=a=a
直布罗陀=a=GI=Gibraltar=a=a=a=a=a
希腊=a=GR=Greece=a=a=a=a=a
格林纳达=a=GD=Grenada=a=a=a=a=a
瓜德罗普岛=a=GP=Guadeloupe=a=a=a=a=a
关岛=a=GU=Guam=a=a=a=a=a
危地马拉=a=GT=Guatemala=a=a=a=a=a
根西岛=a=GG=Guernsey=a=a=a=a=a
几内亚比绍=a=GW=Guinea_Bissau=a=a=a=a=a
几内亚=a=GN=Guinea=a=a=a=a=a
圭亚那=a=GY=Guyana=a=a=a=a=a
香港_（中国）=a=HK=Hong_Kong=a=a=a=a=a
海地=a=HT=Haiti=a=a=a=a=a
洪都拉斯=a=HN=Honduras=a=a=a=a=a
匈牙利=a=HU=Hungary=a=a=a=a=a
冰岛=a=IS=Iceland=a=a=a=a=a
印度=a=IN=India=a=a=a=a=a
印度尼西亚=a=ID=Indonesia=a=a=a=a=a
伊朗=a=IR=Iran=a=a=a=a=a
伊拉克=a=IQ=Iraq=a=a=a=a=a
爱尔兰=a=IE=Ireland=a=a=a=a=a
马恩岛=a=IM=Isle_of_Man=a=a=a=a=a
以色列=a=IL=Israel=a=a=a=a=a
意大利=a=IT=Italy=a=a=a=a=a
牙买加=a=JM=Jamaica=a=a=a=a=a
日本=a=JP=Japan=a=a=a=a=a
泽西岛=a=a=Jersey=a=a=a=a=a
约旦=a=JO=Jordan=a=a=a=a=a
哈萨克斯坦=a=KZ=Kazakstan=a=a=a=a=a
肯尼亚=a=KE=Kenya=a=a=a=a=a
基里巴斯=a=KI=Kiribati=a=a=a=a=a
韩国=a=KR=Korea_South=a=a=a=a=a
朝鲜=a=KD=Korea_North=a=a=a=a=a
科威特=a=KW=Kuwait=a=a=a=a=a
吉尔吉斯斯坦=a=KG=Kyrgyzstan=a=a=a=a=a
老挝=a=LO=Laos=a=a=a=a=a
拉脱维亚=a=LV=Latvia=a=a=a=a=a
黎巴嫩=a=LB=Lebanon=a=a=a=a=a
莱索托=a=LS=Lesotho=a=a=a=a=a
利比里亚=a=LR=Liberia=a=a=a=a=a
利比亚=a=LY=Libya=a=a=a=a=a
列支敦士登=a=LI=Liechtenstein=a=a=a=a=a
立陶宛=a=LT=Lithuania=a=a=a=a=a
卢森堡=a=LU=Luxembourg=a=a=a=a=a
澳门（中国）=a=MO=Macau=a=a=a=a=a
马其顿=a=MK=Macedonia=a=a=a=a=a
马拉维=a=MW=Malawi=a=a=a=a=a
马来西亚=a=MY=Malaysia=a=a=a=a=a
马达加斯加=a=MG=Madagascar=a=a=a=a=a
马尔代夫=a=MV=Maldives=a=a=a=a=a
马里=a=ML=Mali=a=a=a=a=a
马耳他=a=MT=Malta=a=a=a=a=a
马绍尔群岛=a=MH=Marshall_Islands=a=a=a=a=a
马提尼克岛=a=MQ=Martinique=a=a=a=a=a
毛里塔尼亚=a=MR=Mauritania=a=a=a=a=a
毛里求斯=a=MU=Mauritius=a=a=a=a=a
马约特=a=YT=Mayotte=a=a=a=a=a
墨西哥=a=MX=Mexico=a=a=a=a=a
密克罗尼西亚=a=MF=Micronesia=a=a=a=a=a
摩尔多瓦=a=MD=Moldova=a=a=a=a=a
摩纳哥=a=MC=Monaco=a=a=a=a=a
蒙古=a=MN=Mongolia=a=a=a=a=a
黑山=a=ME=Montenegro=a=a=a=a=a
蒙特塞拉特=a=MS=Montserrat=a=a=a=a=a
摩洛哥=a=MA=Morocco=a=a=a=a=a
莫桑比克=a=MZ=Mozambique=a=a=a=a=a
缅甸=a=MM=Myanmar=a=a=a=a=a
纳米比亚=a=NA=Namibia=a=a=a=a=a
瑙鲁=a=NR=Nauru=a=a=a=a=a
尼泊尔=a=NP=Nepal=a=a=a=a=a
荷兰=a=NL=Netherlands=a=a=a=a=a
新喀里多尼亚=a=NC=New_Caledonia=a=a=a=a=a
新西兰=a=NZ=New_Zealand=a=a=a=a=a
尼加拉瓜=a=NI=Nicaragua=a=a=a=a=a
尼日尔=a=NE=Niger=a=a=a=a=a
尼日利亚=a=NG=Nigeria=a=a=a=a=a
纽埃=a=NU=Niue=a=a=a=a=a
诺福克岛=a=NF=Norfolk_Island=a=a=a=a=a
挪威=a=NO=Norway=a=a=a=a=a
阿曼=a=OM=Oman=a=a=a=a=a
巴基斯坦=a=PK=Pakistan=a=a=a=a=a
帕劳=a=PW=Palau=a=a=a=a=a
巴勒斯坦=a=PS=Palestine=a=a=a=a=a
巴拿马=a=PA=Panama=a=a=a=a=a
巴布亚新几内亚=a=PG=Papua_New_Guinea=a=a=a=a=a
巴拉圭=a=PY=Paraguay=a=a=a=a=a
秘鲁=a=PE=_Peru_=a=a=a=a=a
菲律宾=a=PH=Philippines=a=a=a=a=a
皮特凯恩群岛=a=PN=Pitcairn_Islands=a=a=a=a=a
波兰=a=PL=Poland=a=a=a=a=a
葡萄牙=a=PT=Portugal=a=a=a=a=a
波多黎各=a=PR=Puerto_Rico=a=a=a=a=a
卡塔尔=a=QA=Qatar=a=a=a=a=a
留尼汪岛=a=RE=Reunion=a=a=a=a=a
罗马尼亚=a=RO=Romania=a=a=a=a=a
卢旺达=a=RW=Rwanda=a=a=a=a=a
俄罗斯联邦=a=RU=Russian_Federation=a=a=a=a=a
圣赫勒拿=a=SH=Saint_Helena=a=a=a=a=a
圣基茨和尼维斯=a=KN=Saint_Kitts_Nevis=a=a=a=a=a
圣卢西亚=a=LC=Saint_Lucia=a=a=a=a=a
圣文森特和格林纳丁斯=a=VG=Saint_Vincent_and_the_Grenadines=a=a=a=a=a
萨尔瓦多=a=SV=El_Salvador=a=a=a=a=a
萨摩亚=a=WS=Samoa=a=a=a=a=a
圣马力诺=a=SM=San_Marino=a=a=a=a=a
圣多美和普林西比=a=ST=Sao_Tome_and_Principe=a=a=a=a=a
沙特阿拉伯=a=SA=Saudi_Arabia=a=a=a=a=a
塞内加尔=a=SN=Senegal=a=a=a=a=a
塞舌尔=a=SC=Seychelles=a=a=a=a=a
塞拉利昂=a=SL=Sierra_Leone=a=a=a=a=a
新加坡=a=SG=Singapore=a=a=a=a=a
塞尔维亚=a=RS=Serbia=a=a=a=a=a
斯洛伐克=a=SK=Slovakia=a=a=a=a=a
斯洛文尼亚=a=SI=Slovenia=a=a=a=a=a
所罗门群岛=a=SB=Solomon_Islands=a=a=a=a=a
索马里=a=SO=Somalia=a=a=a=a=a
南非=a=ZA=South_Africa=a=a=a=a=a
西班牙=a=ES=Spain=a=a=a=a=a
斯里兰卡=a=LK=Sri_Lanka=a=a=a=a=a
苏丹=a=SD=Sudan=a=a=a=a=a
苏里南=a=SR=Suriname=a=a=a=a=a
斯威士兰=a=SZ=Swaziland=a=a=a=a=a
瑞典=a=SE=Sweden=a=a=a=a=a
瑞士=a=CH=Switzerland=a=a=a=a=a
叙利亚=a=SY=Syria=a=a=a=a=a
塔吉克斯坦=a=TJ=Tajikistan=a=a=a=a=a
坦桑尼亚=a=a=Tanzania=a=a=a=a=a
台湾_（中国）=a=TW=Taiwan=a=a=a=a=a
泰国=a=TH=Thailand=a=a=a=a=a
特立尼达和多巴哥=a=TT=Trinidad_and_Tobago=a=a=a=a=a
东帝汶=a=TL=Timor_Leste=a=a=a=a=a
多哥=a=TG=Togo=a=a=a=a=a
托克劳=a=TK=Tokelau=a=a=a=a=a
汤加=a=TO=Tonga=a=a=a=a=a
突尼斯=a=TN=Tunisia=a=a=a=a=a
土耳其=a=TR=Turkey=a=a=a=a=a
土库曼斯坦=a=TM=Turkmenistan=a=a=a=a=a
图瓦卢=a=TV=Tuvalu=a=a=a=a=a
乌干达=a=UG=Uganda=a=a=a=a=a
乌克兰=a=UA=Ukraine=a=a=a=a=a
阿拉伯联合酋长国=a=AE=United_Arab_Emirates=a=a=a=a=a
英国=a=UK=United_Kingdom=a=a=a=a=a
美国=a=US=United_States=a=a=a=a=a
乌拉圭=a=UY=Uruguay=a=a=a=a=a
乌兹别克斯坦=a=UZ=Uzbekistan=a=a=a=a=a
瓦努阿图=a=VN=Vanuatu=a=a=a=a=a
梵蒂冈=a=a=Vatican_City=a=a=a=a=a
委内瑞拉=a=VE=Venezuela=a=a=a=a=a
越南=a=VN=Vietnam=a=a=a=a=a
瓦利斯群岛和富图纳群岛=a=WF=Wallis_and_Futuna=a=a=a=a=a
西撒哈拉=a=EH=Western_Sahara=a=a=a=a=a
也门=a=YE=Yemen=a=a=a=a=a
南斯拉夫=a=a=Yugoslavia=a=a=a=a=a
赞比亚=a=ZM=Zambia=a=a=a=a=a
津巴布韦=a=ZW=Zimbabwe=a=a=a=a=a
