<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<div><h2 id="a6" style="color: red"></h2></div>
</body>
<script type="text/javascript">
    window.onload = function(){
        setInterval("ff()",50);
    }
    var i=0;
    function ff() {
        i++;
        document.getElementById("a6").innerHTML+="可惜了，这次提交被我拦截了 (✪ω✪)(✪ω✪)";
        // if (i%100==0){
        //     document.getElementById("a6").innerHTML+="<br>";
        // }
    }
</script>
</html>