<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>game</title>

    <style type="text/css">
        #bu1,#bu2,#bu3{
            width: 20%;
            height: 20%;
        }
    </style>
    <script src="KadianGame.js"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
</head>

<body>
<div align="center">
    <p style="font-size: 600%;" >卡点10:00:00游戏</p>
    <p style="font-size: 600%;" id="v1" >00:00:00</p>
    <button style="font-size: 400%;" type="button" id="bu1" onclick="anj1()">开始</button>
    <button style="font-size: 400%;" type="button" id="bu2" onclick="anj2()">暂停</button>
    <button style="font-size: 400%;" type="button" id="bu3" onclick="anj3()">重置</button>
    <div id="div22" style="display: none;">
        <p>
            <input type="text" id="put"  value="" maxlength="20" style=" font-size: 200%;width: 30%;height: 10%" placeholder="请输入你的签名:"/>
        </p>
        <input type="button" name="" id="but4" value="确定" onclick="anj4()"   style="font-size: 200%;width: 10%;height: 10%;"/>
    </div>
</div>

<div align="center">
    <h1>记录</h1>
    <table style="margin-left: 7%">
    <span th:each="Map,mapp : ${list}" >
    <tr>
        <td th:text="${mapp.current.get('city')}" style="width: 32%;"></td>
        <td th:text="${mapp.current.get('content')}"  style="width: 25%;"></td>
        <td th:text="${mapp.current.get('name')}" ></td>
    </tr>
    </span>
    </table>
</div>
</body>

</html>