<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        #box{
            margin-left: 40px;
        }
    </style>
</head>
<body>
<div id="box">
    <div style="width: 100%" >
        <a href="/" style="font-size: 150%">主页</a>
    </div>
    <h2>2851all</h2><br />
    屏<br />
    <span th:text="${path}"></span>bootcode/uboot/arch/arm/include/asm/arch-rtd285o/panel<br /><br />
    按键板<br />
    <span th:text="${path}"></span>bootcode/uboot/arch/arm/include/asm/arch-rtd285o/platform_lib/board/pcb/pcb_rtd285o_tv050_bga.h<br /><br />
    logo<br />
     <span th:text="${path}"></span>customer/bootlogo<br /><br />
    客制化<br />
    <span th:text="${path}"></span>customer/customers<br /><br />
    遥控器<br />
     <span th:text="${path}"></span>customer/IR<br /><br />
    遥控器复用<br />
    <span th:text="${path}"></span>customer/IR/keys_extra.xml<br /><br />
    脚本<br />
    <span th:text="${path}"></span>kernel/system/buildsettings<br /><br />
    2842脚本<br />
    <span th:text="${path}"></span>kernel/system/buildsettings/2842<br /><br />
    预制app路径<br />
    <span th:text="${path}"></span>kernel/android/pie/device/realtek/RealtekATV/toptech/prebuilt<br /><br />
    TV Menu源码<br />
   <span th:text="${path}"></span>kernel/android/pie/vendor/realtek/app/toptechApps/toptechOSD/TopTvMenu<br /><br />
    查看版型<br />
    <span th:text="${path}"></span>kernel/system/board.json<br />
</div>
</body>
</html>