<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 100%" >
    <a href="/" style="font-size: 150%">主页</a>
</div>
<h1>RTK logo处理</h1>
<br>
<h2>JPG 转 RAW</h2>
<form id="form1" action="/LOGOupload" method="post" enctype="multipart/form-data" style="font-size: 150%;">
    JPG文件:<input type="file" style="font-size: 100%;" name="file"><br><br>
    重新命名：<input type="text" name="logoname" style="height: 30px"><span style="color: red;font-size: 50%;">*无需带后缀名。</span>
    <br> <br>
    <div id="DualMode">
        选择分辨率:
        <input name="Dual" onclick="Dualdeon1()"  type="radio"/>1280*720（2842）
        <input name="Dual" onclick="Dualdeoff1()" type="radio"/>1920*1080（2851）<span style="color: red;font-size: 50%;">*为空则为1280*720。</span>
    </div><br>
    <input id="pan" style="display: none;" type="text" name="plan1"/>
    <input id="down" style="display: none;" type="text" name="up"/>
    <button onclick="xiazai()" style="font-size: 100%;" >下载 RAW 文件</button>
    <button onclick="crearte()" style="font-size: 100%;" >生成在2851仓库LOGO目录</button>
</form>
<br>

</body>
<script type="text/javascript" th:inline="javascript">
    window.onload = function () {
        var msg = [[${msg}]];
        if (msg.length > 1) {
            alert(msg);
        }
    }
    function xiazai() {
        document.getElementById("down").value= 0;
        document.getElementById("form1").submit();
    }
    function crearte() {
        document.getElementById("down").value= 1;
        document.getElementById("form1").submit();
    }
    function Dualdeoff1() {
        document.getElementById("pan").value= "2851";
    }

    function Dualdeon1() {
        document.getElementById("pan").value= "2842";
    }
</script>
</html>